@charset "UTF-8";
/* SELETOR {
      CODIGO CSS
} */
.fundo{
      background-color: rgba(255, 238, 0, 0.493);
}

.topo{
      text-align: center;
      font-size: x-large;
}



img{
      width: 150px;
      height: 150px;
      border: 2px solid black;
}

h2 {
      width: auto;
      height: 25px;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      /*color: #18181b;*/
      /* color: rgb(255,32,65); */
      background-color: rgba(8, 247, 207, 0.322);
      /* color: hsl(hue, saturation, lightness); */
}

.h2:hover{
      background-color: blue;
      color: white;
}

.botao {
      background-color:rgb(9, 51, 236);
      border: 2px dashed black;
      color: whitesmoke;
      padding: 0.1px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition: background-color 0.3s, transform 0.3s;
      cursor: pointer;
      border-radius: 8px;
    }
    
    .botao:hover {
      background-color:black;
      color: white;
      transform: scale(1.1);
    }

.final{
      background-color: rgba(109, 8, 241, 0.9);
      color: black;
}

.final:hover{
      background-color: yellow;
      color: green;
}

